apiVersion: v1
kind: Service
metadata:
  name: {{ include "sut-spring-r2dbc.fullname" . }}
  labels:
    {{- include "sut-spring-r2dbc.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "sut-spring-r2dbc.selectorLabels" . | nindent 4 }}
